body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #69f0ae;
  --primary-color-darker: #1a7c4d;
  --secondary-color: #ac8af8;
  --secondary-color-darker: #471da3;
  --highlight-color: rgba(248, 248, 255, 0.72);
  --highlight-color-deeper: rgba(220, 220, 230, 0.72);
  --surface-color: ghostwhite;
  --text-color: black;
  --hint-color: rgba(0, 0, 0, 0.6);
  --shadow-color: rgba(112, 144, 156, 0.3);
  --shadow-big: 0px 5px 10px rgba(112, 144, 156, 0.3);
}

::selection {
  background-color: var(--primary-color);
  color: gray;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --highlight-color: rgba(72, 72, 72, 0.72);
    --highlight-color-deeper: rgba(100, 100, 100, 0.72);
    --surface-color: rgb(50, 50, 50);
    --text-color: white;
  }

  .App-Appbar a {
    color: white;
  }
}

.App-Appbar .navButton {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-size: large;
  font-weight: 800;
  color: var(--text-color);
  max-width: 100px;
  width: 20vw;
  min-width: 50px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

.App-Appbar .navButton:hover {
  background-color: var(--surface-color);
  color: var(--primary-color);
  box-shadow: var(--shadow-big);
}

.flexBox {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .flexBox {
    flex-direction: column;
  }
}

.learn-more {
  font-size: 22.5px;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

.menu {
  height: 100%;
  margin: 20px;
  background-color: var(--surface-color);
  border-radius: 20px;
  box-shadow: var(--shadow-big);
  text-align: center;
  padding-bottom: 15;
}

.menu_button {
  background-color: var(--highlight-color);
  color: var(--text-color);
  border: none;
  border-radius: 15px;
  display: block;
  /* margin-top: 15px; */
  /* margin-bottom: 0; */
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  cursor: pointer;
  width: calc(100% - 30px);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: larger;
  font-weight: bold;
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

.menu_button:hover {
  background-color: var(--highlight-color-deeper);
}

code {
  background-color: var(--highlight-color-deeper);
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-size: 14px;
}
