:root {
  --primary-color: #69f0ae;
  --secondary-color: #ac8af8;
  --secondary-color-darker: #471da3;
  --hint-color: rgba(0, 0, 0, 0.6);
  --shadow-color: rgba(112, 144, 156, 0.3);
  --shadow-big: 0px 5px 10px rgba(112, 144, 156, 0.3);
}

* {
  transition: 0.25s;
  transition-timing-function: ease-in-out;
}

::selection {
  background-color: var(--primary-color);
  color: gray;
}

.App-Appbar {
  background-color: rgba(248, 248, 255, 0.72);
  height: 55px;
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.App-Appbar .navButton {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-size: large;
  font-weight: 800;
  color: black;
  max-width: 100px;
  width: 20vw;
  min-width: 50px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.App-Appbar .navButton:hover {
  background-color: white;
  color: var(--primary-color);
  box-shadow: var(--shadow-big);
}

.transition-by-it-self {
  transition: none;
}

#Home {
  overflow: scroll;
  transition: 0s;
  outline: none;
}

#Home .profile {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  box-shadow: var(--shadow-big);
  object-fit: cover;
}

.short_portfolio .portfolio-item_atrable {
  display: flex;
  flex-direction: row;
  color: grey;
}

@media (max-width: 900px) {
  .short_portfolio .portfolio-item_atrable {
    flex-direction: column;
  }
}

.learn-more {
  font-size: 22.5px;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}

.flexbox .item {
  flex: 50%;
  max-width: 500px;
}

@media (max-width: 900px) {
  .flexbox {
    flex-direction: column;
  }
  .flexbox .item {
    max-width: 100%;
    width: 95%;
    margin: auto;
  }

  .screenWithMenu {
    flex-direction: column;
  }
}

/* School */
.screenWithMenu {
  display: flex;
  justify-content: center;
}

.menu {
  height: 100%;
  margin: 20px;
  background-color: ghostwhite;
  border-radius: 20px;
  box-shadow: var(--shadow-big);
  text-align: center;
  padding-bottom: 15;
}

.menu_button {
  background-color: white;
  border: none;
  border-radius: 15px;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 0; */
  text-decoration: none;
  cursor: pointer;
  width: calc(100% - 30px);
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu_button:hover {
  color: var(--primary-color);
  box-shadow: var(--shadow-big);
}

.schoolItem {
  font-size: larger;
  font-weight: bold;
  color: black;
}

.margin_bottom_15 {
  margin-bottom: 15px;
}

.School .nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  color: var(--primary-color);
}

/* SchoolTHS */
.SchoolTHS .menu_bar {
  width: 90%;
  margin: auto;
}

.SchoolTHS .menu_bar button {
  background-color: ghostwhite;
  border: none;
  width: 25%;
  max-width: 450px;
  min-width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
  font-weight: bold;
  margin: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.SchoolTHS .menu_bar button:hover {
  box-shadow: var(--shadow-big);
  background-color: white;
  color: var(--primary-color);
}

code {
  background-color: #d7dae4;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-size: 14px;
}
